<body id="create-recpie-body">
    <!-- navbar -->
	<nav class="navbar navbar-dark" id="nav-bar">
        <img src="./assets/img/logo.png" alt="CookApp-Logo" id="logo">
        <h1 id="nav-title">My CookBook</h1>
        <button type="button" class="btn btn-outline-primary">SignOut</button>
    </nav>

    <!-- recipe form -->
    <div class="jumbotron" id="create-recipe-container">
                <legend>Creat Your Recipe</legend>
                <div class="form-group">
                    <label for="Recipe Title">Recipie Title</label>
                    <input type="text" id="RecipeTitle" class="form-control" placeholder="Enter Recipie Title">
                </div>
                <div class="form-group">
                    <label for="Decription">Recipe Description</label>
                    <input type="text" id="recepedescription" class="form-control" placeholder="Enter Recipe Description (One Sentence)">
                </div>
                <!-- ingredients -->
                <div class="ingredient row">
                    <div class="col-sm-8">
                        <label for="Ingredient">Ingredient</label>
                        <input type="text" class="form-control" id="Ingredient1" placeholder="Enter Ingredient Name">
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="Amount">Amount</label>
                        <input type="text" class="form-control" id="quantity1" placeholder="Enter Amount">
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="Units">Unit</label>
                        <select class="form-control" id ="measurement1">
                            <option style="opacity: .8">select one</option>
                            <option>tsp</option>
                            <option>tbs</option>
                            <option>c</option>
                            <option>pt</option>
                            <option>mL</option>
                            <option>L</option>
                            <option>qt</option>
                            <option>dash</option>
                            <option>drop</option>
                            <option>oz</option>
                            <option>lbs</option>
                            <option>gal</option>
                        </select>
                    </div> 
                </div>
                                <div class="ingredient row">
                    <div class="col-sm-8">
                        <label for="Ingredient">Ingredient</label>
                        <input type="text" class="form-control" id="Ingredient2" placeholder="Enter Ingredient Name">
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="Amount">Amount</label>
                        <input type="text" class="form-control" id="quantity2" placeholder="Enter Amount">
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="Units">Unit</label>
                        <select class="form-control" id ="measurement2">
                            <option style="opacity: .8">select one</option>
                            <option>tsp</option>
                            <option>tbs</option>
                            <option>c</option>
                            <option>pt</option>
                            <option>mL</option>
                            <option>L</option>
                            <option>qt</option>
                            <option>dash</option>
                            <option>drop</option>
                            <option>oz</option>
                            <option>lbs</option>
                            <option>gal</option>
                        </select>
                    </div> 
                </div>
                                <div class="ingredient row">
                    <div class="col-sm-8">
                        <label for="Ingredient">Ingredient</label>
                        <input type="text" class="form-control" id="Ingredient3" placeholder="Enter Ingredient Name">
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="Amount">Amount</label>
                        <input type="text" class="form-control" id="quantity3" placeholder="Enter Amount">
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="Units">Unit</label>
                        <select class="form-control" id ="measurement3">
                            <option style="opacity: .8">select one</option>
                            <option>tsp</option>
                            <option>tbs</option>
                            <option>c</option>
                            <option>pt</option>
                            <option>mL</option>
                            <option>L</option>
                            <option>qt</option>
                            <option>dash</option>
                            <option>drop</option>
                            <option>oz</option>
                            <option>lbs</option>
                            <option>gal</option>
                        </select>
                    </div> 
                </div>
                <!-- procedure or protocol -->
                <div class="form-group">
                    <label for="Procedure">Procedure</label>
                    <textarea class="form-control" id="Procedure" rows="3" placeholder="Enter Protocol"></textarea>
                </div>
                <form id="uploadForm">
                    Select image to upload:
                    <input type="file" name="recipeimage" id="uploadImageInput" accept=".jpg,.jpeg,.png">
                    <button class="btn btn-lg upload-btn" type="button">Upload File</button>
                </form>
                <img id="imageupload"></img>
                <p id="imagepath"></p>
                <p class="imageerror"></p>
                <div class="form-group">
                        <label for="Notes">Notes</label>
                        
                        <textarea class="form-control" id="Notes" rows="3" placeholder="Enter Notes"></textarea>
                </div>


                <button id="recipeFormSumbit">Add Recipe</button>
    </div>

    <!--Footer-->
     <footer class="page-footer blue center-on-small-only" id="footer">
        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2018 Copyright: <a href="(.....)">By Brian, Katy, Natalie, Sheila</a>
            </div>
        </div>
    </footer>

</body>
