<body id="dashboard-body">

	<!-- navbar -->
	<nav class="navbar navbar-dark" id="nav-bar">
		<img src="./assets/img/logo.png" alt="CookApp-Logo" id="logo">
		<h1 id="nav-title">My CookBook</h1>
        <button type="button" class="btn btn-outline-primary">SignOut</button>
	</nav>
	
	<!-- icon container -->
	<div id="dashboard-container">
		<div class="jumbotron" id="icon-container">
			<div id="icon-box">
				<button class="btn btn-outline-success">
					<img src="./assets/img/cookbook.png" alt="My CookBook" class="button-img">
					<h3 class="button-name">My Recipes</h3>
				</button>
				<button class="btn btn-outline-info">
					<img src="./assets/img/create-recipe.png" alt="Create Recipe" class="button-img">
					<h3 class="button-name">Create Recipe</h3>
				</button>
				<button class="btn btn-outline-danger">
					<img src="./assets/img/delete-recipe.png" alt="Delete Recipe" class="button-img">
					<h3 class="button-name">Delete Recipe</h3>
				</button>
			</div>
		</div>
	</div>

	<!--Footer-->
	<footer class="page-footer blue center-on-small-only" id="footer">
	    <!--Copyright-->
	    <div class="footer-copyright">
	        <div class="container-fluid">
	            © 2018 Copyright: <a href="(.....)">By Brian, Katy, Natalie, Sheila</a>
	        </div>
	    </div>
	</footer>

</body>