<body id="dashboard-body">

	<!-- navbar -->
	<nav class="navbar navbar-dark" id="nav-bar">
		<img src="./assets/img/logo.png" alt="CookApp-Logo" id="logo">
		<h1 id="nav-title">My CookBook</h1>
        <button type="button" class="btn btn-outline-primary">SignOut</button>
	</nav>
	
	<!-- icon container -->
	<div id="dashboard-container">
		<div class="jumbotron" id="icon-container">
			<div id="icon-box">
				<button class="btn btn-outline-success">
					<img src="./assets/img/cookbook.png" alt="My CookBook" class="button-img">
					<h3 class="button-name">My Recipes</h3>
				</button>
				<a href="/create-recipe" class="btn btn-outline-info">
					<img src="./assets/img/create-recipe.png" alt="Create Recipe" class="button-img">
					<h3 class="button-name">Create Recipe</h3>
				</a>
				<button class="btn btn-outline-danger">
					<img src="./assets/img/delete-recipe.png" alt="Delete Recipe" class="button-img">
					<h3 class="button-name">Delete Recipe</h3>
				</button>
			</div>
		</div>
	</div>

	<!-- sample recipe card -->
	<div>
		<div class="row">
			<div class="card text-white bg-warning mb-3 col-sm-4" id=recipe-card-container>
				<div class="card-header"><h3>Recipe Title</h3></div>
				<div class="card-body">
					<img src="./assets/img/sample-recipe1.jpg" alt="Recipe Image" class="recipe-image">
					<p class="card-text">I like to french toast for breakfast. Sometime I eat french toast for lunch and dinner. I am not crazy</p>
				</div>
			</div>
			<div class="card text-white bg-warning mb-3 col-sm-4" id=recipe-card-container>
				<div class="card-header"><h3>Recipe Title</h3></div>
				<div class="card-body">
					<img src="./assets/img/sample-recipe2.jpg" alt="Recipe Image" class="recipe-image">						<p class="card-text">I like to french toast for breakfast. Sometime I eat french toast for lunch and dinner. I am not crazy</p>
				</div>
			</div>
		</div>
	</div>

	<!--Footer-->
	<footer class="page-footer blue center-on-small-only" id="footer">
	    <!--Copyright-->
	    <div class="footer-copyright">
	        <div class="container-fluid">
	            © 2018 Copyright: By Brian, Katy, <a href="https://github.com/natalieryder">Natalie</a>, Sheila
	        </div>
	    </div>
	</footer>

</body>