
	<!-- navbar -->
	<nav class="navbar navbar-dark" id="nav-bar">
		<img src="./assets/img/logo.png" alt="hometeam-logo" id="hometeam-logo">
		<h1 id="nav-title">My Cook Book</h1>
        <button type="button" class="btn btn-outline-primary">SignOut</button>
        <button type="button" class="btn btn-outline-primary">SignOut</button>

	</nav>
    

	
	