<section>

	<img class="img-fluid recipe-header-image" src="https://images.unsplash.com/photo-1433208406127-d9e1a0a1f1aa?ixlib=rb-0.3.5&s=ea6060d838057a06b87dc42508ed90d3&auto=format&fit=crop&w=966&q=80" alt="Card image cap">
	
	<h1>Recipe Title</h1>

	<p>notes Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eveniet quasi animi cumque natus ipsa recusandae facere! Repellendus ipsam quidem, doloremque eius esse distinctio veritatis hic error laborum dolore quo ducimus delectus eum iure labore. Atque, odio, consequatur ipsum culpa accusantium dicta distinctio ullam hic, veritatis quaerat similique! In, amet.</p>

	<h3>Ingredients</h3>

	<ul>
		<li>ingredient</li>
		<li>ingredient</li>
		<li>ingredient</li>
		<li>ingredient</li>
		<li>ingredient</li>
		<li>ingredient</li>
		<li>ingredient</li>
		<li>ingredient</li>
	</ul>

	<h3>Instructions</h3>

	<ol>
		<li>step</li>
		<li>step</li>
		<li>step</li>
		<li>step</li>
		<li>step</li>
		<li>step</li>
		<li>step</li>
		<li>step</li>
	</ol>
</section>