/* Login Page *************************/
/*navbar*/
#logo
{
	width: 200px;
	height: auto;
}
#nav-bar
{
	background-color: #00001a;
}
#nav-title
{
	color: white;
	text-align: center;
	padding-right: 110px;
	font-family: cursive;
	font-weight: bold;
}
/*main login contianer*/
#input-size-username
{
	width: auto;
}
#login-container
{
	padding-top: 125px;
	width: 400px;
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
}
#login-header
{
	text-align: center;
}
#login-box
{
	background-color: midnightblue;
	color: white;
	border: thin solid black;
	opacity: .9;
}
/*carousel image*/
.carousel-image
{
	width: 100%;
	height: 590px;
}
/*footer*/
#footer
{
	background-color: #00001a;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
	color: white;
}

/* DashBoard *************************/
/* dashboard-body */
#dashboard-body
{
	background-image: url("../img/dashboard.jpg");
	background-size: 1400px auto;
	background-position: center;
	padding: 20px;
}
/* icon container */
#icon-container
{
	padding-bottom: 20px;
	padding-top: 20px;
	opacity: .7;
	margin-bottom: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}
.button-name
{
	color: black;
	font-family: cursive;
	font-weight: bold;
}
.button-img
{
	width: 100px;
	height: auto;
}
#icon-box
{
	text-align: center;
}
/* recipie card */
.recipe-image
{
	width: 100%;
	height: auto;
}

/* create-recipe *************************/
#create-recpie-body
{
	background-image: url("../img/create-recipe.jpg");
	background-size: 2050px auto;
	background-position: center;
	padding: 20px;
}
#create-recipe-container
{
	margin: 150px;
	margin-top: 100px;
}

#uploadImageInput {
  display: none;
}
#imageupload {
	max-width: 200px;
}
.imageerror {
	color: red;
}

h1.text-white {
	text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}


/* CARDS */

.recipe {
	height: 100%;
}
a.recipe {
	color: initial;
	border: 0px;
	filter: saturate(100%) contrast(100%);
	transition: filter .2s ease;
}
a.recipe:hover {
	text-decoration: none;
	filter: saturate(150%) contrast(150%);

}

.img-container {
	height: 0;
    padding-bottom: 60%;
    overflow: hidden;
    position: relative;
}
.img-container img {
	position:absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.recipe-header-container {
	padding-bottom: 40%;
	width: 100%;
}
.recipe-header-container img {
	width: 100%;
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 600px;
  margin: 30px auto;
}

label {
	display: inline !important;
    margin-bottom: .5rem !important;
}

/*ingredient list*/

.quantity {
	width: 50px;
	text-align: right;
	display: inline-block;
	padding-right: 10px;
}

/*typography*/

.bold {font-weight: 800;}

ol {
	list-style: decimal;
	list-style-position: inside;
	font-weight: 800;
}
ol li {
	/*font-weight: 400;*/

}